body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    display: grid;
    gap: 20px;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.section-title {
    color: blue;
}
.big-title {
    font-size: 30px;
}
.section-italic {
    font-style: italic;
}
